@{
    ViewBag.Title = "InvalidFeed";
}

<h2>Invalid Feed</h2>
<br />
<div class="error">
    You must have entered invalid RSS Feed link.
</div>
<br />
<div>
    @Html.ActionLink("<< Try Again", "Create")
</div>
